# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# turbo
.turbo/

# env
.env
.env*.local
!.env.example

# prisma
packages/db/generated/

# build
dist/
build/

# ide
.idea/
.vscode/
*.iml

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# testing
coverage/
.vercel
.env*
